<%- include('partials/header'); -%>
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			type="text/css"
			href="/asserts/css/organ_style.css"
		/>
		<title>Organ</title>
	</head>

	<body>
		<div class="container organ">
			<div class="row">
				<div class="col-md-4">
					<div class="card text-center" style="width: 20rem">
						<div
							class="card-header"
							style="background-color: rgba(54, 14, 14, 0.5); color: white"
						>
							Hospital Name
						</div>
						<div class="card-body">
							<h5 class="card-title">Details :</h5>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">Date</li>
								<li class="list-group-item">Age</li>
								<li class="list-group-item">Address</li>
								<li class="list-group-item">Remarks</li>
							</ul>
						</div>
					</div>
                </div>
                <div class="col-md-4">
					<div class="card text-center" style="width: 20rem">
						<div
							class="card-header"
							style="background-color: rgba(54, 14, 14, 0.5); color: white"
						>
							Hospital Name
						</div>
						<div class="card-body">
							<h5 class="card-title">Details :</h5>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">Date</li>
								<li class="list-group-item">Age</li>
								<li class="list-group-item">Address</li>
								<li class="list-group-item">Remarks</li>
							</ul>
						</div>
					</div>
                </div>
                <div class="col-md-4">
					<div class="card text-center" style="width: 20rem">
						<div
							class="card-header"
							style="background-color: rgba(54, 14, 14, 0.5); color: white"
						>
							Hospital Name
						</div>
						<div class="card-body">
							<h5 class="card-title">Details :</h5>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">Date</li>
								<li class="list-group-item">Age</li>
								<li class="list-group-item">Address</li>
								<li class="list-group-item">Remarks</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
